header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* TEMPORARY */
body {
    min-height: 100vh;
}

main {
    margin-block: 4rem 7rem;
}

h1 {
    text-align: center;
    font-size: 4rem;
    margin-block: 3rem;
}

a.button-primary {
    float:right;
    margin-top: -4rem;
    padding: 10px 20px;
    font-size: calc(var(--size-main-body-text) - 0.3rem);
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead{
    background-color: var(--color-primary);
    color: var(--color-text-light);
}

tbody tr:nth-child(odd) {
    background-color: var(--color-background-light);
}
tbody tr:nth-child(even) {
    background-color: white;
}

th, td {
    border: 1px solid #cccccc;
    margin: 0;
    padding: 10px;
    cursor: default;
}

td.id,
td.actions {
    text-align: center;
}

td.actions a:hover {
    color: var(--color-primary-light);
}